.vscode/
pcb/FlywheelCagePCB/FlywheelCagePCB-backups/
pcb/FlywheelCagePCB/fp-info-cache
pcb/FlywheelCagePCB/Passives.bak
pcb/FlywheelCagePCB/~FlywheelCagePCB.kicad_pcb.lck
pcb/FlywheelCagePCB/~FlywheelCagePCB.kicad_sch.lck
