.vscode/
FlywheelCagePCB/FlywheelCagePCB-backups/
FlywheelCagePCB/fp-info-cache
FlywheelCagePCB/Passives.bak
FlywheelCagePCB/~FlywheelCagePCB.kicad_pcb.lck
FlywheelCagePCB/~FlywheelCagePCB.kicad_sch.lck
